*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{ 
    min-height: 100vh; 
    background-color: #f4f4f9;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}